@page "/Tecnico/Delete"
@page "/Tecnico/Delete/{TecnicoId:int}"
@inject TecnicoService TecnicoService
@inject NavigationManager navigationManager

@rendermode InteractiveServer

<PageTitle>Eliminar Técnico</PageTitle>

@if (Tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <!-- Header -->
            <div class="card-header bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Técnico</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar el Técnico?</h3>
            </div>
            <!-- Body -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del Técnico</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>TecnicoId:</strong> @Tecnico.TecnicoId</li>
                                                    <li><strong>Nombres:</strong> @Tecnico.Nombres</li>
                                                    <li><strong>Descripción:</strong> @Tecnico.Descripcion</li>
                                                    <li><strong>Sueldo Por Hora:</strong> @Tecnico.SueldoHora</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="card-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarTecnico">
                    <i class="bi bi-trash-fill"></i> Eliminar
                </button>
                <a href="/Tecnico/Index" class="btn btn-outline-primary">
                    <i class="bi bi-box-arrow-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
}
else
{
    <p>Técnico no encontrado.</p>
}

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? Tecnico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId != 0)
        {
            Tecnico = await TecnicoService.Buscar(TecnicoId);
        }
    }

    public async Task EliminarTecnico()
    {
        if (TecnicoId == 0 || Tecnico == null)
        {
            return;
        }

        if (await TecnicoService.Eliminar(TecnicoId))
        {
            navigationManager.NavigateTo("/Tecnico/Index");
        }
    }
}

