@page "/Tecnico/Details"
@page "/Tecnico/Details/{TecnicoId:int}"
@inject TecnicoService TecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


<PageTitle>Detalles de Tecnicos</PageTitle>

@if (Tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles de los Tecnicos</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>TecnicoId:</strong> @Tecnico.TecnicoId</li>
                                <li><strong>Descripción:</strong> @Tecnico.Descripcion</li>
                                <li><strong>Días Compromiso:</strong> @Tecnico.DiasCompromiso</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Tecnico no encontrado.</p>
}


@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos? Tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await TecnicoService.Buscar(TecnicoId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Tecnico/Index");
    }

}
